{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>404 Page Not Found | Portfolio</title>
  <meta content="This is an error page to handle exceptions." name="description">
  <meta content="404 error page, Dhruv Patel portfolio" name="keywords">

  <!-- Web App Icons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <main>
    <div class="container">
      <section class="section min-vh-100 d-flex flex-column align-items-center justify-content-center text-center" data-aos="fade-in">
        <img src="{% static 'nfound.png' %}" class="img-fluid" alt="Page not found">
        <h1 class="display-1">404</h1>
        <h2>The page you are looking for doesn't exist.</h2>
        <a class="btn btn-primary mt-4" href="{% url 'home' %}">Back to Home</a>
      </section>
    </div>
  </main>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
