{% extends "base.html" %}
{% block title %}{{ portfolio.portfolio_name }}{% endblock %}
{% block description %}{{ data.description }}{% endblock %}
{% block keywords %}{{ data.keyword }}{% endblock %}

{% block main %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>{{ data.portfolio_heading }}</li>
          </ol>
        </div>

      </div>
    </section>

    <!-- ======= Portfolio Details ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-details/'|add:data.portfolio_image_1 %}" class="img-fluid" alt="Portfolio image 1: {{ data.portfolio_title }}">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-details/'|add:data.portfolio_image_2 %}" class="img-fluid" alt="Portfolio image 2: {{ data.portfolio_title }}">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-details/'|add:data.portfolio_image_3 %}" class="img-fluid" alt="Portfolio image 3: {{ data.portfolio_title }}">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project Information</h3>
              <ul>
                <li><strong>Category</strong>: {{ portfolio.portfolio_category }}</li>
                <li><strong>Client</strong>: {{ data.portfolio_client }}</li>
                <li><strong>Project Date</strong>: {{ data.portfolio_project_date }}</li>
                <li><strong>Project URL</strong>: <a href="{{ data.portfolio_project_url }}" target="_blank">{{ data.portfolio_project_url }}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{ data.portfolio_title }}</h2>
              <p>
                {{ data.portfolio_description | safe }}
              </p>
            </div>
          </div>

          <a class="m-auto btn btn-primary m-4" href="{% url 'home' %}">Back to Home</a>

        </div>

      </div>
    </section>
  </main>
{% endblock main %}
